<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XiboClientWatchdog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <XiboClientWatchdog.Properties.Settings>
            <setting name="LogFileName" serializeAs="String">
                <value>log.xml</value>
            </setting>
            <setting name="ClientLibrary" serializeAs="String">
                <value />
            </setting>
            <setting name="PollingInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Threshold" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ProcessPath" serializeAs="String">
                <value>C:\Program Files (x86)\Xibo Player\XiboClient.exe</value>
            </setting>
            <setting name="MemoryThreshold" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="UseTaskKill" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartWithCmd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SleepAfterKillSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="NotRespondingThreshold" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PlayerRestartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="ProcessCountThreshold" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExtWatchdogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoRemoveEdgeProcesses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsShowBalloons" serializeAs="String">
                <value>False</value>
            </setting>
        </XiboClientWatchdog.Properties.Settings>
    </applicationSettings>
</configuration>
